@model MvcMovie.Models.NormalUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>normal_user</h4>
	<hr />
    @Html.Partial("_NormalUserDetails", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID, generation = Model.Generation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
