@model MvcMovie.Models.NormalUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.Partial("_NormalUserForm", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
